.container{
  text-decoration: underline;
}
.album-gallery{
  float: left;
  margin:15px;
  width:180px;
}

.album-gallery:hover{
  cursor: pointer;
  border: 1px solid #ddd;
}

.album-gallery img{
width:80%;
height:auto;
}

.desc{
  padding: 5px;
  padding-left: 0px;
  text-align:center;
}

.gallery-container{
  margin-top: 40px;
}
a {
  text-decoration: inherit;
  color: inherit;
}